[global_config]
  title_transmit_bg_color = "#4e9a06"
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 1680:0
      size = 1633, 1026
      title = Dont talk! Show me your code!
      type = Window
    [[[child1]]]
      active_page = 3
      labels = front, main, node, docker/sudocker
      last_active_term = 6971bd8d-bc39-4d4d-9bf5-ceb2f843c8de, 2f50b64f-7154-4f96-bb6d-b781de71239a, 6aeb2d89-7951-43c0-9ce6-6031b8dd83d4, 1a83c239-708c-4493-be67-42b07f26faee
      order = 0
      parent = child0
      type = Notebook
    [[[child4]]]
      order = 2
      parent = child1
      position = 545
      ratio = 0.5
      type = VPaned
    [[[child9]]]
      order = 3
      parent = child1
      position = 813
      ratio = 0.5
      type = HPaned
    [[[terminal10]]]
      command = docker exec -ti --user=docker php73 bash && cd /datos/web/; bash
      order = 0
      other = cd /datos/web/appuser-frontend && rm -rf node_modules && yarn && yarn start; bash
      parent = child9
      profile = default
      type = Terminal
      uuid = 1a83c239-708c-4493-be67-42b07f26faee
    [[[terminal11]]]
      command = docker exec -ti php73 bash && cd /datos/web/; bash
      order = 1
      other = cd /datos/web/bkmdoc-frontend && rm -rf node_modules && yarn && ./tools/fixes.sh && yarn start; bash
      parent = child9
      profile = default
      type = Terminal
      uuid = 6fd81407-740f-4c03-96f8-2c31b7f094da
    [[[terminal2]]]
      command = cd /datos/web/crm-frontend && yarn start; bash
      order = 0
      parent = child1
      profile = default
      type = Terminal
      uuid = 6971bd8d-bc39-4d4d-9bf5-ceb2f843c8de
    [[[terminal3]]]
      command = cd /datos/web/ ; bash
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = 2f50b64f-7154-4f96-bb6d-b781de71239a
    [[[terminal5]]]
      command = cd /datos/web/crm-synchronization && kill $(lsof -t -i:8090) ; yarn start ; bash
      order = 0
      parent = child4
      profile = default
      type = Terminal
      uuid = 09192740-7a95-4b72-b9b3-6c2705287224
    [[[terminal7]]]
      command = cd /datos/web/crm-synchronization ; bash
      order = 1
      parent = child4
      profile = default
      type = Terminal
      uuid = 0d2b11f3-1192-472c-87d6-76fbf8755fd3
  [[crm]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 1680:0
      size = 1633, 1026
      title = Dont talk! Show me your code!
      type = Window
    [[[child1]]]
      active_page = 2
      labels = front, main, node-crm, docker/sudocker
      last_active_term = 6971bd8d-bc39-4d4d-9bf5-ceb2f843c8de, 2f50b64f-7154-4f96-bb6d-b781de71239a, 701bd505-ede8-4c93-9f7a-56e8394a58e9, 1a83c239-708c-4493-be67-42b07f26faee
      order = 0
      parent = child0
      type = Notebook
    [[[child4]]]
      order = 2
      parent = child1
      position = 492
      ratio = 0.500508646999
      type = VPaned
    [[[child7]]]
      order = 3
      parent = child1
      position = 813
      ratio = 0.5
      type = HPaned
    [[[terminal2]]]
      order = 0
      parent = child1
      profile = default
      type = Terminal
      uuid = 6971bd8d-bc39-4d4d-9bf5-ceb2f843c8de
    [[[terminal3]]]
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = 2f50b64f-7154-4f96-bb6d-b781de71239a
    [[[terminal5]]]
      order = 0
      parent = child4
      profile = default
      type = Terminal
      uuid = 701bd505-ede8-4c93-9f7a-56e8394a58e9
    [[[terminal6]]]
      order = 1
      parent = child4
      profile = default
      type = Terminal
      uuid = 690d141f-f1d1-4309-84fa-74c11fbcc901
    [[[terminal8]]]
      order = 0
      parent = child7
      profile = default
      type = Terminal
      uuid = 1a83c239-708c-4493-be67-42b07f26faee
    [[[terminal9]]]
      order = 1
      parent = child7
      profile = default
      type = Terminal
      uuid = 6fd81407-740f-4c03-96f8-2c31b7f094da
  [[kk]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.84
    background_type = transparent
    cursor_color = "#aaaaaa"
    exit_action = restart
